* {
  box-sizing: border-box;
}

main {
  padding-top: 1vh;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.topnav {
  position: fixed;
  overflow: hidden;
  background-color: #A98467;
  top: 0;
  right: 0;
  left: 0;
  /* z-index: 1030;*/
}
.navlogo {
  border-color: #A98467;
  border-spacing: 1vh;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 4%;
  flex: 30%;
}
.flex-item-center {
  background-color: dodgerblue;
  padding: 4%;
  flex: 30%;
}
.flex-item-right {
  background-color: rgba(228, 136, 31, 0.514);
  padding: 0.4rem;
  flex: 30%;
}
.landing {
  background-image: url("../imagenes/landing_1.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 2vh;
  color: rgb(254, 254, 255);
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .landing {
        background-image: url(imagenes/background-photo-mobile-devices.jpg);
        background-size: cover;
  }
  .flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 20%;
  }
  .flex-item-center {
    background-color: dodgerblue;
    padding: 10px;
    flex: 40%;
  }
  .flex-item-right {
    background-color: rgba(228, 136, 31, 0.514);
    padding: 10px;
    flex: 40%;
  }
}
@media (max-width: 579px) {
  .flex-item-right,
  .flex-item-left,
  .flex-item-right {
    flex: 100%;
  }
}
