:root {
  --primary-medium: #a98467;
  --primary-dark: #6c584c;
  --primary-ligth: #f0ead2;
  --secondary-dark-: #adc178;
  --secondary-ligth: #dde5b6;
  --primary-link: #ffffff;
}
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Maven Pro", sans-serif;
}
body {
  overflow-y: hidden;
  overflow-x: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
}
.landing {
  padding-top: 1vh;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  height: 90vh;
  font: small-caps bold 24px/1 sans-serif;
}

.topnav {
  position: fixed;
  overflow: hidden;
  background-color: var(--primary-dark);
  top: 0;
  right: 0;
  width: 100vw;
  height: 80px;
  /* z-index: 1030;*/
}
.bottomnav {
  position: fixed;
  overflow: hidden;
  background-color: var(--primary-dark);
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 80px;
  /* z-index: 1030;*/
}

.btn-menu {
  display: none;
}
.topnav > .menu > a:link,
.topnav > .menu > a:visited {
  color: var(--primary-link);
  margin-left: calc(2vw + 5px);
  margin-top: calc(3vh + 5px);
  text-align: left;
  text-decoration: none;
  display: inline-block;
  border-radius: 5%;
  font-size: calc(1.5vw + 6px);
}
nav .topnav .menu .navlogo {
  position: fixed;
  right: 0.5rem;
  top: 0.5rem;
  height: 4rem;
  width: 6rem;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0px 0px 4px 5px var(--primary-ligth);
  background-color: var(--primary-ligth);
}
footer .bottomnav .navlogo {
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  height: 4rem;
  width: 6rem;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0px 0px 4px 5px var(--primary-ligth);
  background-color: var(--primary-ligth);
  cursor: pointer;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../imagenes/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 3.5vw;
  color: var(--primary-link);
  justify-content: center;
  -webkit-text-stroke: 0.1rem black;
}
/*nestor*/

.redes {
  position: flex;
  flex-direction: column;
  width: 15vw;
  padding-left: 10%;
}
.facebook {
  position: fixed;
  bottom: 52px;
  left: 15vw;
  width: 20px;
  height: auto;
  vertical-align: middle;
}

.instagram {
  position: fixed;
  bottom: 25px;
  left: 15vw;
  width: 20px;
  height: auto;
  vertical-align: middle;
}

.airbnb {
  position: fixed;
  bottom: 2px;
  left: 15vw;
  width: 20px;
  height: auto;
  vertical-align: middle;
}

#footerimg {
  position: fixed;
  left: 0.5rem;
  bottom: 0.5rem;
  width: 4rem;
  float: left;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textofooter {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color: var(--primary-link);
}

@media (max-width: 800px) {
  .landing {
    background-image: url("../imagenes/landing_804.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 4vw;
    color: var(--primary-link);
    justify-content: center;
    -webkit-text-stroke: 0.1rem black;
  }
  .topnav > .menu > a:link,
  .topnav > .menu > a:visited {
    color: var(--primary-link);
    font-size: calc(2.6vw + 6px);
  }
  .textofooter {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .navlogo,
  #footerimg {
    display: none;
  }
  .topnav > .menu > a:link,
  .topnav > .menu > a:visited {
    font-size: calc(3vw + 6px);
  }
  .facebook,
  .instagram,
  .airbnb {
    left: 5vw;
  }
}

  
  /* apartir de aca va corresponde al formulario */

.form {
    padding: 0%;
    margin-top 80px;
    width: 100%;
    height: 100%;
    background-color: #ADC178;
  }
  section {
    background-color: #ADC178;
  
  }
  section h1{
    text-align: center;
    font-size: 2.3rem;
    color: #40342d;
    padding-top: 20px;
  
  }
  fieldset {
    width: 100%;
    max-width: 600px;
    border-color: #6C584C;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  textarea {
    border-color: #6C584C;
    border-radius: 10px;
    background-color: #DDE5B6;
    width: 100%;
  }
  .parte-form {
    margin: 10px;
  
  }
  .parte-form input {
    background-color: #ADC178;
    border-radius: 10px;
    border-color: #DDE5B6;
    text-indent: 2%;
    
  }
  .parte-form input:hover{
    background-color: #DDE5B6;
  
  }
  .parte-form input:focus{
    background-color: #DDE5B6;
  }
  .opciones {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .boton-area{
    display: flex;
    justify-content:center ;
  }
  .boton-form  {
    border-radius: 10px;
    border-color: #ADC178;
    background-color: #ADC178;
    font-size: 25px;
    color: #6C584C;
    padding: 15px 30px;
    margin: 0 5% 0 5%;
  }
  .boton-form:hover {
    background-color: #DDE5B6;
    color: #40342d;
  }
  .iframe-area{
margin-bottom: 80px;
    background-color: #ADC178;
  }
  iframe {
    width: 98%;
    height: 182px;
    border-radius: 30px;
    border: none;
    margin: 1%;
  }
  .opciones input[type="radio"]{
    display: block;
    width: 18px;
    height: 18px;
    margin: 10px;
    border: 5px solid #40342d;
    border-radius: 50%;
    background:#ADC178;
    cursor: pointer;
  
  }
  .opciones > input[type="radio"]:after{
    background: #ADC178;
    visibility: visible;
    cursor: pointer;
  }
  .opciones input[type="radio"]:checked::after{
    border: 5px solid #40342d;
    background: #6C584C;
    animation: shadow 0.3s;
   
  }
  @keyframes shadow{
    50%{
      box-shadow: 0 0 15px 5px #40342d;
    }
  }
  /* apartir de aca corresponde a las Cabañas */
  .cabs-main{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #ADC178;
  }
  .cabs-h1{
    text-align: center;
    font-size: 2.3rem;
    color: #40342d;
    padding-top: 100px;
  }
  .cabs-p{
    text-align: left;
    font-size: 1.3rem;
    color: #40342d;
    margin: 50px 150px 50px 150px;
  }
  .cabs-area{
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }  
  .cabs-item-der{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: row;
    gap: 2vw;
  }
  .cabs-item-izq{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: row-reverse;
    gap: 2vw;
  }
  .cabs-img{
    max-width: 400px;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 2px 15px 25px rgba(0,0,0,0.50);
    transition: all 600ms ease;
    cursor: zoom-in;
  }
  .cabs-img:hover{
    transform: scale(1.4);
  
  }
  .cabs-desc{
    font-size: 1rem;
    color: #40342d;
    max-width: 500px;
    margin: 150px  0 150px 0px;
  }
  .cabs-tit{
    font-size: 1.8rem;
    color: #40342d;
  }
    
      
/* Néstor */
/* .foto1 {
  margin: 0%;
  padding: 0%;
  width: 100vw;
  opacity: 0.45;
} */

.titulo {
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
  font-size: 7vw;
  position: fixed;
  left: 50%;
  top: 15vh;
  transform: translate(-50%, -50%);
  color: #433a3f;
  padding-top: 20%; 
}

body {
  background-color: #adc178;
}

body .containertxt {
  padding-left: 15%;
  padding-right: 20%;
  font-family: 'Maven Pro', sans-serif;
  color: #433a3f;
}    

.containeract img {
  padding-left: 20%;
  width: 40%;
  height: 40%;   
  float: inline-start; 
}

.containeract {
  margin-top: 7%;
  margin-bottom: 1%;
  display: inline;
  display: flex;
  align-items: center;
}

.textoact {
  margin-left: 1%;
  padding-left: 1%;
  display: inline;
  text-align: left;
  width: 25%;
  color: #433a3f;
}

.container {
  padding-top: 5%;
  padding-bottom: 10%;
  color: #433a3f;
  text-align: center;
  font-size: large;
  font-weight: 600;
  font-family: 'Maven Pro', sans-serif;
}

  
