:root {
  --primary-medium: #a98467;
  --primary-dark: #6c584c;
  --primary-ligth: #f0ead2;
  --secondary-dark-: #adc178;
  --secondary-ligth: #dde5b6;
  --primary-link: #ffffff;
}
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Maven Pro", sans-serif;
}
body {
  overflow-y: hidden;
  overflow-x: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
}
.landing {
  padding-top: 1vh;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  height: 90vh;
  font: small-caps bold 24px/1 sans-serif;
}

.topnav {
  position: fixed;
  overflow: hidden;
  background-color: var(--primary-dark);
  top: 0;
  right: 0;
  width: 100vw;
  height: 80px;
  /* z-index: 1030;*/
}
.bottomnav {
  position: fixed;
  overflow: hidden;
  background-color: var(--primary-dark);
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 80px;
  /* z-index: 1030;*/
}

.btn-menu {
  display: none;
}
.topnav > .menu > a:link,
.topnav > .menu > a:visited {
  color: var(--primary-link);
  margin-left: calc(2vw + 5px);
  margin-top: calc(3vh + 5px);
  text-align: left;
  text-decoration: none;
  display: inline-block;
  border-radius: 5%;
  font-size: calc(1.5vw + 6px);
}
nav .topnav .menu .navlogo {
  position: fixed;
  right: 0.5rem;
  top: 0.5rem;
  height: 4rem;
  width: 6rem;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0px 0px 4px 5px var(--primary-ligth);
  background-color: var(--primary-ligth);
}
footer .bottomnav .navlogo {
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  height: 4rem;
  width: 6rem;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0px 0px 4px 5px var(--primary-ligth);
  background-color: var(--primary-ligth);
  cursor: pointer;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  font-size: 30px;
  text-align: center;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../imagenes/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 3.5vw;
  color: var(--primary-link);
  justify-content: center;
  -webkit-text-stroke: 0.1rem black;
}
/*nestor*/

.redes {
  position: flex;
  flex-direction: column;
  width: 15vw;
  padding-left: 10%;
}
.facebook {
  position: fixed;
  bottom: 52px;
  left: 15vw;
  width: 20px;
  height: auto;
  vertical-align: middle;
}

.instagram {
  position: fixed;
  bottom: 25px;
  left: 15vw;
  width: 20px;
  height: auto;
  vertical-align: middle;
}

.airbnb {
  position: fixed;
  bottom: 2px;
  left: 15vw;
  width: 20px;
  height: auto;
  vertical-align: middle;
}

#footerimg {
  position: fixed;
  left: 0.5rem;
  bottom: 0.5rem;
  width: 4rem;
  float: left;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.textofooter {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  color: var(--primary-link);
}

@media (max-width: 800px) {
  .landing {
    background-image: url("../imagenes/landing_804.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 4vw;
    color: var(--primary-link);
    justify-content: center;
    -webkit-text-stroke: 0.1rem black;
  }
  .topnav > .menu > a:link,
  .topnav > .menu > a:visited {
    color: var(--primary-link);
    font-size: calc(2.6vw + 6px);
  }
  .textofooter {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .navlogo,
  #footerimg {
    display: none;
  }
  .topnav > .menu > a:link,
  .topnav > .menu > a:visited {
    font-size: calc(3vw + 6px);
  }
  .facebook,
  .instagram,
  .airbnb {
    left: 5vw;
  }
}
